* {
  margin: 0;
  padding: 0;
}
body html {
  background-color: #ccc;
  font-size: 20px;
}
h1 {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.btnopen {
  margin-top: 1.25rem;
  width: 10rem;
  height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #0000ff;
  border: 1px solid;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnopen:hover {
  opacity: 0.6;
}
.modalOpen {
  background-color: #0000;
  transition: background-color 0.3s ease;
}
.modal {
  margin-top: 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  height: auto;
  width: 90%;
  max-width: 30rem;
  background-color: #f8f9f9;
  transform: translate(-50%, -50%);
  border-radius: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
}
.modalcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.modalcontent h1 {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
}
.modalcontent h4 {
  margin: 10px;
  font-size: 20px;
  text-align: center;
}
.modalcontent input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.modalcontent button {
  margin-top: 30px;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  margin-right: 4rem;
  margin-left: 2rem;
}
button {
  width: 100%;

  height: 40px;
  margin-left: 6.5rem;
  border-radius: 8px;
  color: #ffffff;
  background-color: #0000ff;
  border: 1px solid;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  opacity: 0.6;
}
