* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-top {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-top button {
  margin-top: 20px;
  width: 120px;
  padding: 12px 5px;
  background-color: #000fff;
  color: #ffffff;
  border-radius: 8px;
  border: 1px solid ghostwhite;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.modal-content button:hover {
  opacity: 0.7;
}
.modal {
  position: absolute;
  transform: translate(-50px, -50px);
  z-index: 1000;
  margin-top: 20px;
  top: 30%;
  left: 35%;
  width: 40%;
  max-width: 35%;
  border-radius: 8px;
  background-color: #f8f9f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
}
.modal-content {
  text-align: left;
  padding: 10px;
}
.modal-content h1 {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  font-size: 20px;
}
.modal-content input {
  text-align: left;
  padding: 10px;
  width: 80%;
  display: flex;
  margin-left: 50px;
  border-radius: 5px;
  word-spacing: 2px;
  border: 1px solid #f8f8f8;
}
.modal-content button {
  margin-left: 40%;
}
